:root {
  --primary: #222831;
  --secondary: #393e46;
  --tertiary: #b55400;
  --quaternary: #eeeeee;
}
html {
  scroll-behavior: smooth;
}

@keyframes pixelAnimation {
  0% {
    left: 10%;
  }
  25% {
    left: 50%;
  }
  50% {
    left: 70%;
  }
  100% {
    left: 10%;
  }
}

a{
  text-decoration: none;
}

body {
  background-color: var(--primary);
  height: 100%;
}

.logo{
  max-width: 100px;
}

#mainSection {
  height: 70vh;
  text-align: center;
}

#aboutMeSection {
  height: 100vh;
}

#aboutMeSection p {
  margin-right: 0px;
  padding-top: 15%;
  padding-left: 7%;
  padding-right: 10%;
  font-size: 45px;
}

button {
  background-color: var(--primary);
  border: none;
  color: var(--quaternary);
  text-align: center;
  font-size: 25px;
  padding: 0 3rem;
  font-family: "Open Sans", sans-serif;
}

.topBarButton{
  height: 100%;
  display: inline-block;
}

.hamburgerMenuButton{
  display: none;
}

.hamburgerMenu{

  position: fixed;
  top: 70px;
}

button:hover {
  opacity: 0.8;
}

.middleContainer {
  margin-top: 15%;
  font-size: 60px;
  font-family: "Open Sans Condensed", sans-serif;
  color: var(--quaternary);
  height: auto;
}

.topBar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 0px 2%;
}

.topBarRight {
  margin-right: 5%;
  height: 100%;
}

.profilFoto {
  float: right;
  margin-top: 10%;
  margin-left: 10px;
  margin-right: 5%;
  clear: both;
  border-radius: 50%;
  max-width: 270px;
  height: auto;
}

.pixelArt {
  position: fixed;
  bottom: 0px;
  left: 10%;
  animation-name: pixelAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.experienceTab {
  width: 20%;
  float: left;
  height: 100%;
  margin-left: 20px;
}

.experienceInfoTab{
  float: right;
  width: 60%;
  padding-left: 8%;
  padding-right: 8%;
}

#experienceSection{
    height: 100vh;
}


#experienceContainer{
    padding-top: 8%;    
}
#experienceContainer h5{
    margin: 0 ;  
    font-size: 35px;  
}

#experienceContainer h6{
  margin: 15px 0 0 0;  
  font-size: 30px;  
}

#experienceContainer p{
  margin-top: 0;  
  font-size: 30px;  
}

.experienceTabLinks{
  padding-top: 10%; 
  padding-bottom: 10%;
  width: 100%;
}

#gamesSection{
  height: 100vh;
}

#gamesSection p{
  padding-top: 20%;
  margin-left: 10%;
}
.hamburgerIcon{
  display: none;
}



@media screen and (max-width: 940px){

  #mainSection {
    height: 100vh;
    text-align: center;
  }
  
  #mainSection h1{
    font-size: 1em;
    padding-top: 120px;
  }

  #mainSection p{
    font-size: 0.7em;
  }

  button {
    background-color: var(--primary);
    border: none;
    color: var(--quaternary);
    text-align: center;
    font-size: 1em;
    padding: 0 3rem;
    font-family: "Open Sans", sans-serif;
  }

  .topBarButton {
    display: none;
  }

  .hamburgerIcon{
    display: flex;
    max-width: 3.8rem;
    margin-top: 8px;
  }

  .pixelArt {
    position: fixed;
    bottom: 0px;
    left: 10%;
    animation-name: pixelAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    max-width: 170px;
  }
  .profilFoto {
    float: right;
    margin-top: 10%;
    margin-left: 0;
    margin-right: 0%;
    clear: none;
    border-radius: 50%;
    max-width: 200px;
    height: auto;
  }

  #aboutMeSection p {
    margin-right: 0px;
    padding-top: 15%;
    padding-left: 7%;
    padding-right: 10%;
    font-size: 40%;
  }

  #aboutMeSection {
    overflow: auto;
    padding-top:40px;
  }

  #experienceSection {
    overflow: auto;
    padding-top:130px;
  }

  .experienceTabLinks{
    font-size: 40%;
    display: block;
    text-align: center;   
    margin: 0;
    padding: 0;
    flex: 1 1 150px;
  }

  .experienceTab {
    width: 100%;
    height: 10%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 25px;
    display:flex;
    flex-wrap: wrap;
  }
  
  .experienceInfoTab{
    width: 80%;
    padding-left: 2%;
    padding-right: 2%;
  }

  #experienceContainer h5{
    margin: 0 ;  
    font-size: 40%;  
}

#experienceContainer h6{
  margin: 0 0 0 0;  
  font-size: 40%;  
}

#experienceContainer p{
  margin-top: 0;  
  font-size: 40%;  
}
.hamburgerMenuButton{
  display: none;
}

.hamburgerMenu{
  position: fixed;
  top: 69px;
  width : 100%;
}
.hamburgerMenuButton{
  font-size: 30px;
  width: 100%;
  height:100%;
}
#gamesSection{
  margin-top:20%;
  overflow: auto;
}
}
