:root {
  --primary: #222831;
  --secondary: #393e46;
  --tertiary: #b55400;
  --quaternary: #eeeeee;
}
html {
  scroll-behavior: smooth;
}

@keyframes pixelAnimation {
  0% {
    left: 10%;
  }
  25% {
    left: 50%;
  }
  50% {
    left: 70%;
  }
  100% {
    left: 10%;
  }
}

body {
  background-color: var(--primary);
  height: 100%;
}

.logo{
  max-width: 100px;
}

#mainSection {
  height: 100vh;
  text-align: center;
}

#aboutMeSection {
  height: 100vh;
}

#aboutMeSection p {
  margin-right: 0px;
  padding-top: 15%;
  padding-left: 7%;
  padding-right: 10%;
  font-size: 45px;
}

button {
  background-color: var(--primary);
  border: none;
  color: var(--quaternary);
  text-align: center;
  font-size: 25px;
  padding: 0 3rem;
  font-family: "Open Sans", sans-serif;
}

.topBarButton{
  height: 100%;
}

button:hover {
  opacity: 0.8;
}

.middleContainer {
  margin-top: 15%;
  font-size: 60px;
  font-family: "Open Sans Condensed", sans-serif;
  color: var(--quaternary);
  height: auto;
}

.topBar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 0px 2%;
}

.topBarRight {
  margin-right: 5%;
  height: 100%;
}

.profilFoto {
  float: right;
  margin-top: 10%;
  margin-left: 10px;
  margin-right: 5%;
  clear: both;
  border-radius: 50%;
  max-width: 270px;
  height: auto;
}

.pixelArt {
  position: fixed;
  bottom: 0px;
  left: 10%;
  animation-name: pixelAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.experienceTab {
  width: 20%;
  float: left;
  height: 100%;
  margin-left: 20px;
}

.experienceInfoTab{
  float: right;
  width: 60%;
  padding-left: 8%;
  padding-right: 8%;
}

#experienceSection{
    height: 100vh;
}


#experienceContainer{
    padding-top: 8%;    
}
#experienceContainer h5{
    margin: 0 ;  
    font-size: 35px;  
}

#experienceContainer h6{
  margin: 15px 0 0 0;  
  font-size: 30px;  
}

#experienceContainer p{
  margin-top: 0;  
  font-size: 30px;  
}

.experienceTabLinks{
  padding-top: 10%; 
  padding-bottom: 10%;
  width: 100%;
}

#gamesSection{
  height: 100vh;
}

#gamesSection p{
  padding-top: 20%;
  margin-left: 10%;
}
